.hidden{
    display: none;
}
.show{
    display: block;
}

.input-form,.input-button{
    display: block;
    margin: 10px 0 10px 0;
    width: 70%;
}
.input-form{
    width: 70%;
}
.container2{
    width: 80%;
    margin: 0 auto;

}
.input-button{
    padding: 0;
}
.form .input-form,.form .input-button {
    margin: 30px auto;
}
