

.product{
    background-color: rosybrown;
    
    margin: 10px;
    
}
.products{
    width: 80%;
    margin: 0 auto;
}
.infos-prooduct{
    padding: 5px;
}
.all-product{
    width: 200px;
    display: inline-block;
    margin: 10px auto;
}

.title-product p{
    margin-top: 50px;
    font-size: 20px;
    margin-left: 10px;
}
.line{
    margin-left: 10px;  
    border-bottom: solid 1px black;
    margin-top: 10px;
    width: 50%;
}

.imag-product{
    background-color: red;
    height: 150px;
}
.titulo p,.preco p{
    margin: 10px 0 10px 0;
    font-size: 15px;
}

